<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>toppage</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body>
    <header class="header-nav">
      <div class="welcome-message">ようこそAI"神"芝居へ</div>
      <nav><a href="/generate">生成ページへ</a></nav>
    </header>

    <section id="first-block">
      <div class="title-container">
        <h1>AI"神"芝居</h1>
      </div>
    </section>

    <section id="second-block">
      <p class="info-title">
        <h3>AI"神"芝居とは・・・</h3>
      </p>

      <div>
        <h3>連続する写真や画像から</h3>
        <h3>AIが作り出すオリジナルストーリー</h3>
        <h3>無限の物語の鍵を手に入れて</h3>
        <h3>壮大な物語の誕生を体験しましょう！</h3>
      </div>
    </section>

    <section id="third-block">
      <h3>作品例</h3>
      <div class="image-container">
        <img src="static/image/hero.jpg">
        <img src="static/image/spacewar.jpg">
        <img src="static/image/spaceking.jpg">
      </div>
      <p>
        かつて、遥か彼方の宇宙に、平和と繁栄が支tyo配していた時代がありました。しかし、その平穏は突如として終わりを告げます。暗黒の宇宙魔王が現れ、星々を次々と支配下に置き始めたのです。宇宙魔王の力は絶大で、彼の軍隊は惑星を侵略し、星系を壊滅させていきました。
        この危機に立ち向かうため、多くの星系から勇者たちが立ち上がります。彼らはそれぞれ異なる星から来た者たちで、強大な力を持つ者、賢明な戦略家、そして不屈の精神を持つ者たちでした。彼らは共に力を合わせ、宇宙戦争に挑みます。
        物語の中心には、特に一人の若き勇者がいます。彼は辺境の惑星で生まれ、幼いころから宇宙魔王の恐怖にさらされて育ちました。しかし、彼には特別な力が備わっていたのです。彼はその力を用い、多くの仲間と共に宇宙魔王に立ち向かう決意を固めます。
        勇者たちは、様々な惑星と星系を旅し、同盟を結び、力を合わせて宇宙魔王の軍隊と戦います。戦いは厳しく、多くの犠牲が伴いますが、勇者たちは決して諦めません。彼らの絆と勇気が、暗黒に包まれた宇宙に光をもたらすのです。
        最終的に、若き勇者は宇宙魔王との直接対決に挑みます。二人の戦いは壮絶で、星々がその光を失うほどの力がぶつかり合います。しかし、勇者の不屈の意志と、仲間たちの支援によって、ついに宇宙魔王は倒され、宇宙に再び平和が訪れるのでした。
      </p>
    </section>

    <section id="to-genrate">
      <a href="/generate">オリジナル物語を生成する</a>
    </section>

    <footer>
      <p>AI"神"芝居 by Mr.Sumi</p>
    </footer>
  </body>
</html>